
.tm-top-bar {
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  height: 100px;
  background: white;
  box-shadow: 0px 2px 5px 0px rgb(173, 167, 173);
}
