.reservationContainer {
  display: flex;
  justify-content: space-around;
  background-color: #e8e8e8;
  max-width: 100vw;
  min-height: 100vh;
}

.reservationInfo,
.reservationForm {
  margin: 30px auto 20px auto;
  padding: 20px;
  background-color: #ffffff;
  width: 45%;
  border-radius: 15px;
  -webkit-box-shadow: 1px 2px 6px -3px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 2px 6px -3px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 2px 6px -3px rgba(0, 0, 0, 0.75);
}

.reservationContainer .reservationForm form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
