.body {
  background: #e6e6e6;
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
  overflow-x: hidden;
}

.reset {
  margin: 0 !important;
  padding: 0 !important;
  box-sizing: content-box !important;
}

.tm-top-bar {
  top: 0;
  left: 0;
  width: 100%;
  padding: 0;
  z-index: 10000;
  transition: all 0.2s ease-in-out;
  height: 100px;
  background: white;
  box-shadow: 0px 2px 5px 0px rgb(173, 167, 173);
}

.parallax {
  position: relative;
  background-image: url('https://static.hosteltur.com/app/public/uploads/img/articles/2020/07/27/L_111907_descarga.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  overflow: hidden;
}

.parallax-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.container {
  position: relative;
  z-index: 1;
}

.form-inline .form-group {
  margin-bottom: 10px;
}

form {
  background: white;
  border-radius: 4px;
  box-shadow: 0px 2px 5px 0px rgb(173, 167, 173);
  padding: 10px;
  display: flex;
  justify-content: space-between;
  gap: 10px;
  flex-wrap: wrap;
  overflow-x: hidden !important;
}

.w-50 {
  width: 48% !important;
}

.btn {
  margin-top: 10px;
}

@media (max-width: 576px) {
  .parallax {
    height: 600px;
  }
}


/* hoteles */
.titulo {
  height: 100px;
  background-color: #ffffff;
  margin-bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
  overflow: hidden;
}

.hoteles {
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin: auto;
  width: 80%;
}

.hoteles > * {
  font-size: 0.8em;
}

.hoteles .col-hotel {
  width: 45%;
}

.main-content {
	padding-top: 100px;
	padding-bottom: 100px;
}

.text-striked {
	text-decoration: line-through;
}

.shadow {
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.06) !important;
}

.hotel-card .hotel-card_images {
	flex: 2;
}
.hotel-card .hotel-card_images .carousel-item img {
	height: 250px;
	object-fit: cover;
}

.carousel-item  img{
  width: 250px !important;
  height: 250px !important;
}

@media (min-width: 992px) {
	.hotel-card .hotel-card_images .carousel-item img {
		height: 100%;
	}
}

.hotel-card .hotel-card_info {
	flex: 3;
}

.hotel-card .amnities img {
	max-height: 20px;
}

.hotel-card .hotel-checklist {
	list-style-type: none;
}

.carousel .carousel-control-prev {
	background: linear-gradient(to right, #333333bb, #33333300);
}

.carousel .carousel-control-next {
	background: linear-gradient(to left, #333333bb, #33333300);
}
