.parallax {
  background-image: url('https://static.vecteezy.com/system/resources/previews/000/602/620/non_2x/dark-blue-carbon-fiber-background-and-texture-with-lighting-material-wallpaper-for-car-tuning-or-service-vector.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}

.card-body {
  padding: 20px;
}

h1,
h3 {
  margin-bottom: 20px;
}

@media screen and (min-width: 765px) {
  /* Aquí puedes agregar los estilos específicos para una pantalla de 765px o más */
  /* Por ejemplo: */
  .parallax {
    height: 130vh;
  }
  .mt-5 {
    margin-top: 100px !important;
  }
  /* ... */
}
